@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  font-family: 'Poppins', sans-serif;
}

em {
  font-style: italic;
}

.flex-container {
  display: flex;
  height: 100vh;
}

.left {
  background-image: url(background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 40vw;
}

.banner {
  position: relative;
  top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background-color: rgba(255, 255, 255, 0.6);
}

.banner-icon img {
  width: 7vw;
}

.banner-text h1 {
  font-size: 4vw;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.top-disclaimer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-left: 30px;
}

.top-disclaimer p {
  font-weight: 500;
  font-size: 1.5rem;
}

.mid-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 5px 5px 21px -3px rgba(0, 0, 0, 0.57);
  padding-left: 30px;
}

.form-title h1 {
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 30px;
}

input,
label {
  display: block;
}

form {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
}

.input {
  margin: 30px 60px 30px 0px;
}

.bottom-signup {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
